*{
    margin:0px;
    padding: 0px;
    box-sizing: border-box;
}
/* header section start */
header{
    width: 100%;
    height: 50px;
    color: #fff;
    display: flex;
    padding: 0px 100px;
    align-items: center;
    background: #022D7C;
    justify-content: space-between;
}
/* header section end */

/* banner section start */
.banner{
    width: 100%;
    height: 600px;
    color: #fff;
    display: flex;
    padding: 0px 100px;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(../img/buildingsnight.jpg);
    background-size: cover;
}
.banner h2{
    font-size: 45px;
    font-weight: normal;
}
.banner h2 span{
    display: block;
    font-size: 67px;
    font-weight: 600;
}
.banner aside{
    padding: 20px;
    border-radius: 7px;
    text-align: center;
    background: #022D7C;
}
.banner aside input[type],
.banner aside button{
    width: 100%;
    margin: 7px;
    height: 50px;
}
.banner aside textarea{
    width: 100%;
    height: 120px;
    margin: 7px;
    text-align: left;
}
/* banner section end */

/* grid section start here */

.item1{
    display: grid;
    display: inline; 
    padding-top: 70px;
    padding-bottom: 70px;
    padding-left: 150px;
    float: left;
    justify-content: center;
    width: 33%;
}
.para{
    text-align: left;
    padding-right: 20px;
}
.item2{
    display: grid;
    display: inline; 
    padding-top: 70px;
    padding-bottom: 70px;
    padding-left: 90px;
    float:left;
    justify-content: center;
    width: 33%;
}
.item3{
    display: grid;
    display: inline;
    padding-top: 70px;
    padding-bottom: 70px;
    padding-left: 40px; 
    float: left;
    justify-content: center;
    width: 33%;
}
/* grid section end here */

/* about us section start */
.about{
    background: rgb(56, 56, 110);
    text-align: center;
    color: white;
    padding: 60px 110px;
}

/* about us section end */

/* loremimg section start */

.imagea{
    padding-top: 60px;
    padding-left: 120px;
    float: left;
    width: 40%;
    justify-content: center;
}
.texta{
    float: right;
    padding-top: 100px;
    padding-right: 100px;
    width: 60%;
    
}

.imageb{
    padding-bottom: 60px;
    padding-right: 120px;
    float: right;
    justify-content: center;
    width: 40%;
}
.textb{
    float: left;
    justify-content: center;
    width: 60%;
    padding-left: 100px;
    padding-top: 80px;
    padding-right: 40px;
}
/* loremimg section end */

/* footer start here */
footer{
    background: rgb(56, 56, 110);
    color: white;
    width: 100%;
    height: 40px;
    padding: 9px 0px;
    text-align: center;
}
/* footer end here */