*{
    margin:0px;
    padding: 0px;
    box-sizing: border-box;
}
/* header section start */
header{
    width: 100%;
    height: 50px;
    color: #fff;
    display: flex;
    padding: 0px 100px;
    align-items: center;
    background: #022D7C;
    justify-content: space-between;
}
/* header section end */

/* banner section start */
.banner{
    width: 100%;
    height: 600px;
    color: #fff;
    display: flex;
    padding: 0px 100px;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(../img/buildingsnight.jpg);
    background-size: cover;
}
.banner h2{
    font-size: 45px;
    font-weight: normal;
}
.banner h2 span{
    display: block;
    font-size: 67px;
    font-weight: 600;
}
.banner aside{
    padding: 20px;
    border-radius: 7px;
    text-align: center;
    background: #022D7C;
}
.banner aside input[type],
.banner aside button{
    width: 100%;
    margin: 7px;
    height: 50px;
}
.banner aside textarea{
    width: 100%;
    height: 120px;
    margin: 7px;
    text-align: left;
}
/* banner section end */

/* feature section start */
.feature{
    width: 100%;
    display: flex;
    color: #022D7C;
    padding: 80px 100px;
    justify-content: space-between;
}
.feature div{
    width: 90%;
}
.feature div h3{
    font-size: 25px;
    margin-bottom: 4px;
    text-align: left;
}
.feature div p{
    font-size: 18px;
    text-align: justify;
    margin-top: 4px;
    font-weight: normal;
}
/* feature section end */

/* about us section start here */
.aboutus{
    width: 100%;
    height: auto;
    color: #fff;
    text-align: center;
    padding: 50px 100px;
    background: #022D7C;
}
.aboutus h2{
    font-size: 30px;
    margin-bottom: 7px;
}
.aboutus p{
    font-size: 18px;
    font-weight: normal;
}
.aboutus button{
    margin-top: 18px;
    padding: 15px 140px;
    border-radius: 5px;
    background: none;
    color: #fff;
    font-size: 17px;
    border-color: #fff;
    border-width: 2px;
}
/* about us section end here */

/* Our Service Section Start Here */
.table{
    width: 100%;
    height: auto;
    padding: 0px 100px;
}
table tr td img{
    width: 100%;
}
.contenta{
    padding-left: 20px;
    letter-spacing: 7;
    font-size: 18px;
}
.contentb{
    padding-right: 20px;
    letter-spacing: 7;
    font-size: 18px;
}
/* Our Service Section End Here */

/* footer start here */
footer{
    background: rgb(56, 56, 110);
    color: white;
    width: 100%;
    height: 100px;
    padding: 9px 0px;
    text-align: center;
    font-size: 20px;
    letter-spacing: 1px;
    font-weight: normal;
    line-height: normal;
}
footer h5{
    padding-bottom: 6px;
    padding-top: 6px;
}
/* footer end here */

/* Extra small devices (phones, 600px and down) 
@media only screen and (max-width: 600px) {
    header h3{
        width:100%;
        height: auto;
        line-height: normal;
    }
    .banner{
        width: 100%;
        height: 300px;
        color: #fff;
        display: flex;
        flex-direction: column;
        padding: 0px 0px;
        align-items: center;
        justify-content: space-between;
        background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(../img/buildingsnight.jpg);
        background-size: cover;
    }
    .banner h2{
        font-size: 25px;
        font-weight: normal;
        text-align: center;
        padding: 120px;
    }
    .banner h2 span{
        display: block;
        font-size: 37px;
        font-weight: 400;
        text-align: center;
    }
    .banner aside{
        margin-top: 97%;
        border-radius: 7px;
        text-align: center;
        background: #022D7C;
        position: absolute;
        width:100%;
    }
    .banner aside input[type],
    .banner aside button{
        align-items: center;
        width: 100%;
        margin: 7px;
        height: 30px;
    }
    .banner aside textarea{
        align-items: center;
        width: 100%;
        height: 120px;
        margin: 7px;
        text-align: left;
    }
    .feature{
        top:250%;
        width: 50%;
        display: inline-block;
        color: #022D7C;
        padding: 80px 100px;
        justify-content: space-between;
    }
    .feature div h3{
        font-size: 25px;
        margin-bottom: 4px;
        text-align: center;
        width: 400px;
    }
    .feature div p{
        font-size: 18px;
        text-align: left;
        margin-top: 4px;
        margin-right: 9px;
        font-weight: normal;
        width: 500px;
        height: auto;
        padding: 10px 9px;
    }
    .table{
        width: 100%;
        height: auto;
        padding: 0px 10px;
    }
    table tr td img{
        width: 100%;
    }
    table img{
        height: 250px;
    }
    .contenta{
        padding-left: 20px;
        letter-spacing: 7;
        font-size: 18px;
    }
    .contentb{
        padding-right: 20px;
        letter-spacing: 7;
        font-size: 18px;
    }
}*/

/* media query section start */
@media only screen and (max-width: 992px) {
    header{
        padding:10px;
    }
    header h3{
        padding-top: 20px;
        padding-bottom: 20px;
        font-size: 20px;
    }
    .banner h2{
        font-size: 30px;
        font-weight: 700;
    } 
    .banner aside{
        padding-top: 10px;
        width: 700px;
    }
    .banner{
        height: 700px;
        padding: 10x;
        flex-direction: column;
    }
    .feature{
        padding-top: 10px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .feature h3{
        padding-top: 20px;
    }
    .aboutus{
        padding: 20px;
    }
    section aside .table{
        padding: 10px;
    }
    section aside .table img {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
  }
@media only screen and (max-width: 768px){
    .table img {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 300px;
    }
  }
@media only screen and (max-width: 576px){
    .table table{
      display: none;
    }
    header{
        padding:0px;
        flex-direction: column;
        height: 90px;
    }
    header h3{
        padding-top: 8px;
        padding-bottom: 17px;
        font-size: 15px;
        padding-right: 140px;
    }
    .banner h2{
        padding-right: 120px;
        padding-top: 50px;
        font-size: 25px;
        font-weight: 300;
    } 
    .banner h2 span{
        font-size: 35px;
    }
    .banner aside{
        display: none;
    }
    .banner{
        height: 200px;
        padding: 10x;
        flex-direction: column;
    }
    footer h5{
        font-size: 14px;
    }
} 
/* media query section end */

